:root {
    --crema-rosado: #F7DAD9;
    --beige-medio:#fff9f4;
    --beige-frio:#DAD0C2;
    --dulce-de-leche:#CDBBA7;
    --gris-claro:#eff1f5;
    --black:#000000;
    --white:#ffffff;
    --font-min:12px;
    --font-mid:15px;
    --font-max:24px;

}