@import 'vars';
    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 380px;
        min-height: 88vh;
        position:absolute;
        right: 0;
        background-color: var(--white);
        top: 60px;
        bottom: 0;
        border-radius: 6px;
        border: 1px solid var(--gris-claro);
    }
    .MyOrder {
        padding: 15px;
        margin: 0 auto;
    }
    .MyOrder-title {
        display:flex;
        align-items: baseline;
        padding-bottom: 15px;
    }
    .arrow {
        width: 15px;
        transform: rotate(180deg);
    }
    .MyOrder-title h1 {
        font-size: var(--font-max);
        padding-left: 10px;
    }
    .MyOrder_container-art {
        width: 320px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        background-color: var(--gris-claro);
        padding: 20px;
        border-radius: 8px;
        margin: 30px  auto 0 auto; 
    }
    .primary-button{
        height: 50px;
        width: 320px;
        background-color: var(--crema-rosado);
        border: none;
        border-radius: 8px;
        color: var(--white);
        font-weight: bold;
        font-size: 15px;
        margin: 25px auto 20px auto;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    @media(max-width: 640px) {
        .MyOrder h1,
        .arrow {
            display: none;
        }
        .MyOrder-art {
            margin-top: 50px;
        }
    }