@import 'vars';
    .orders {
        width: 400px;
        min-width: 320px;
        min-height: 500px;
        padding: 20px 0;
        margin: 0 auto;
    }
    .orders h1 {
        font-size: var(--font-mid);
        padding-bottom: 50px;


    }
  

